*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}
h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0;
    padding: 0; 
}
li{
    list-style: none;
}
body{
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 140%;
    color: #000000;
}
input{
    outline: none;
}
.header{
    background: url('./img/home-bg.jpg') no-repeat;
    background-size: cover;

    height: 100vh;
}

.container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}
.logo__txt{
    font-size: 16px;
    line-height: 130%;
    width: 208px;
}
.header__logo{
    display: flex;
    align-items: center;
    column-gap: 22px;
}
.header__list{
    display: flex;
    column-gap: 36px;
    li{ 
        font-size: 18px;
        line-height: 17px;
        padding-bottom: 8px;
        &:hover{
            padding: 0;
           border-bottom: 3px solid #FF6F4F; 
        }
    }
}

.btn{
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.01em;
    border: 1px solid #FF4F4F;
    border-radius: 24px;
    padding: 14px 23px 13px 27px;
    transition: ease-in-out .3s;

    &:hover{
        background:#FF4F4F;
        color: #fff;
    }
}
.burger{
    display: none;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.title{
    text-transform: uppercase;
    max-width: 893px;
    margin-left: 116px;
    font-size: 46px;
    margin-bottom: 96px;
    line-height: 140%;
}
.home__info{
    max-width: 474px;
    margin-left: 42px;
}

.home__info-list{
    li{
        list-style-image: url('./img/list.png');
    }
}
.home__info-list{
    margin: 39px 0 34px 55px;
}
.btn__test{
    background: linear-gradient(360deg, #038483 0%, #00CDCD 100%);
    box-shadow: 0px 6px 0px #026C6C;
    border-radius: 40px;
    padding: 22px 44px;
    font-size: 20px;
    color: #fff;
    transition: .5s ease-in-out;
    &:hover{
        background: linear-gradient(360deg, #0CDCD0 0%, #038483 100%);
    }
}
.title__content{
    font-family: 'Gotham Pro Bold';
    font-size: 50px;
    line-height: 65px;
    color: #008F8E;
    text-align: center;
}
.live{
    margin-bottom: 125px;
}
.live__box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;
    align-items: center;
    margin-bottom: 80px;
}

.live__card-img{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.live__card{
    .live__img{
        margin-bottom: 20px;
    }
    p{
        max-width: 316px;
        line-height: 130%;
    }
 
}
.live__card-right{
    display: grid;
    justify-items: end;
    text-align: right;
}

.live__desc{
    max-width: 986px;
    padding: 41px 58px;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(275.08deg, #DCF8F8 -9.98%, #ECF7FF 107.65%);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.why{
    .title__content{
        text-align: left;
        margin-bottom: 32px;
    }
}
.why__inner{
    display: flex;
    justify-content: space-between;
  
}

.why__text{
    margin-top: 83px;
    max-width: 669px;
    padding-right: 46px;
}
.step__plan-img{
    display: none;
}

.astrofinplan{
    margin-bottom: 58px;
    .title__content{
        text-align: left;
        margin-bottom: 32px;
    }
    .why__inner{
        align-items: inherit;
        position: relative;
    }
    &__img{
        .title__content{
            display: none;
        }
    }
}
.container__astrofinplan{
    max-width: 1584px;

}
.astrofinplan__description{
    margin-top: 38px;
    position: absolute;
    z-index: 1;
    left: 689px;
    p{
        max-width: 826px;
        &+p{
            margin-top: 7px;
        }
    }
   
}
.astrofinplan__link{
    display: block;
    margin-top: 17px;
    position: relative;
    color: #008F8E;
    &::after{
        content: '';
        background: url('./img/link-right.png') no-repeat;
        background-size: 24px;
        height: 24px;
        width: 24px;
        position: absolute;
        bottom: 3px;
    }
}
.subtitle{
    text-align: center;
    max-width: 708px;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 23px;
}
.result{
    margin-bottom: 169px;
}
.result__container{
    max-width: 1570px;
}
.result__box{
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 75px 70px 69px 70px;
}

.result__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    background: url('./img/sector.png') no-repeat;
    background-position: top 15px center;
}
.result__title{
    font-size: 22px;
}
.result__text{
    font-size: 18px;
    line-height: 25px;
}
.result__info-img{
    text-align: center;
}
.result__info-one, .result__info-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 751px;
    // width: 435px;
    flex: 0 0 435px;
}
.result_box-two{
    width: 425px;
    text-align: right;
    &-pos{
        width: 433px;
        margin-top: 30px;
        &-two{
            width: 438px;
        }
    }
    &-sfer{
        margin-top: 20px;
    }
}
.btn__test{
    margin-top: auto;
}

.step__inner{
    display: flex;
    background: url('./img/plan.png') no-repeat;
    background-position: right -82px bottom -51px;
    margin-top: 50px;
    margin-left: 44px;
    column-gap: 47px;
}

.step__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 18px;
}

.step{
    margin-bottom: 149px;
}
.step__description{
    max-width: 1101px;

}
.step__three{
    max-width: 770px;
}
.step__four{
    max-width: 759px;
}
.step__five{
    max-width: 781px;
}
.step__title{
    font-family: 'Gotham Pro Bold';
}
.step__image-number{
    display: none;
}
.tarife{
    margin-bottom: 163px;
    .title__content{
        text-align: left;
    }
}
.tarife__inner{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 57px 90px 63px 70px;
    .btn__test{
        background: linear-gradient(360deg, #038483 0%, #00CDCD 100%);
        box-shadow: 0px 4px 0px #026C6C;
        border-radius: 50px;
        padding: 14px 47px;
        font-size: 16px;
        &:hover{
            background: linear-gradient(360deg, #0CDCD0 0%, #038483 100%);
        }
    }
    .download{
        padding: 14px 30px;
    }
}

.tarife__container{
    max-width: 1570px;
}
.tarife__box-title, .tarife__box-desc, .tarife__box-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarife__box-title-desc{
    display: flex;
    justify-content: center;
    column-gap: 32px;
    .tarife__title-right{
        margin-right: 45px;
    }
}
.tarife__box-title-content{
// padding-right: 560px;
width: 50%;
}
.tarife__box-price{
    padding-top: 44px;
    border-top: 1px solid #E5E5EB;
    justify-content: flex-end;
    flex: 0 0 50%;
}


.tarife__list{
    display: flex;
    flex: 1 1 auto; 
    margin-top: 33px;
    height: 350px;
    margin-bottom: 45px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E5E5EB;
    padding-top: 36px;
    &-left{
        align-items: flex-start;
        flex: 0 0 53%;
    }
    li{
        font-size: 20px;
        line-height: 130%;
        font-family: 'Gotham Pro Bold';
    }
}


.tarife__plan{
    text-align: center;
    &-left{
        margin-left: 26px;
    }
}
.tarife__title{

    font-size: 20px;
    line-height: 130%;
}
.tarife__link{
    &+.tarife__link{
        margin-left: 33px;  
    }
    .tarife__title{
        text-align: center;
        margin-bottom: 13px;
    }
    img{
        margin-bottom: -7px;
    }
}

.answer{
    margin-bottom: 150px;
    &__img{
        padding-right: 103px;
    }
}
.answer__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
}
.answer__item{
    max-width: 717px;
    &+.answer__item{
        margin-top: 40px;
    }

}
.answer__title{
    font-family: 'Gotham Pro Bold';
    cursor: pointer;
 
}

.answer__text{
    padding-top: 12px;
    display: none;
    font-size: 20px;
}

.answer__input{
    width: 0;
    height: 0;
    appearance: none;
    display: block;
    cursor: pointer;
    position: relative;

    &::before{
        content: '';
        left: -82px;
        width: 64px;
        height: 64px;
        bottom: 0;
        position: absolute;
        background: url('./img/plus.png');
    }
    &:checked {
        &+.answer__text{
            display: block;
        }
        &::before{
        background: url('./img/minus.png');
    }
}
}
.questions{
    margin-bottom: 172px;
}
.question__box{
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 70px;
    .title__content{
        text-align: left;
        max-width: 520px;
    }
}
.questions__inner{
    display: flex;
    justify-content: space-between;
}
.questions__text{
    max-width: 362px;
    margin-top: 16px;
    margin-bottom: 47px;
}
.questions__link{
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-family: 'Gotham Pro Bold';
}
.questions__subtext{
    margin-top: 63px;
    font-size: 20px;
    line-height: 130%;
}

.questions__input{
    background: linear-gradient(180deg, #028584 0%, #03ABAA 100%);
    border-radius: 30px;
    padding: 62px 80px 60px;
}

.questions__input-title{
    font-family: 'Gotham Pro Bold';
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.questions__social{
    padding-right: 15px;
}
.questions__form{
    max-width: 300px;
    border: none;
    height: 60px;
    padding: 30px 15px;
    border-radius: 8px;
}

.input__text{
    font-size: 16px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 11px;
}
.input__list{
    display: flex;
    column-gap: 40px;
}
.questions__button{
    display: flex;
    column-gap: 32px;
    margin-top: 60px;
    button{
        border: none;
        background: linear-gradient(360deg, #FF4F4F 0%, #FF876C 100%);
        box-shadow: 0px 4px 0px #CC1A1A;
        border-radius: 50px;
        padding: 15px 46px;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        &:hover{
            background: linear-gradient(360deg, #FF876C 0%, #FF4F4F 100%);
        }
    }
}
.questions__button-text{
    max-width: 428px;
    font-size: 14px;
    color: #fff;
    line-height: 130%;
}

.footer{
    background: #383F46;
}
.footer__inner{
    display: flex;
    // align-items: center;
    padding-top: 63px;
    margin-bottom: 56px;
}
.footer__logo{
    .logo__txt{
        color: #FFFFFF;
    }
}
.footer__info{
    margin-right: 78px;
}
.footer__phone{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 48px;
    .footer__social-link{
        padding: 6px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        transition: ease all .3s;
        &:hover{
            background: #009FD6;
        }
        &-whatsapp{
            padding: 12px;
            &:hover{
                background: #1EA918;
            }
        }
    }
}
.footer__company-link{
    font-size: 18px;
    width: 205px;
    margin-left: 10px;
   a{
    color: #fff;
    &:hover{
        text-decoration: underline;
    }
   }
}
.footer__title{
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 26px;
}
.footer__text{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    transition: all .2s;
    &:hover{
        opacity: 1;
    }
}

.footer__course{
    margin-right: 40px;
    .footer__title{
        width: 214px;
 
    }
    .footer__text{
        width: 280px;
        line-height: 22px;
    }
}

.footer__readme{
    width: 280px;
    margin-right: 40px;
}

.footer__menu{
    width: 120px;
    margin-right: 39px;
}

.footer__confidentiality{
    padding-top: 28px;
    border-top: 1px solid #FFFFFF;
    .footer__confidentiality-link{
        display: flex;
        justify-content: space-between;
        padding-bottom: 59px;
    }
    p{
        max-width: 760px;
        line-height: 22px;
    }
}
.vk, .telegram, .instagram{
    position: relative;
    padding-left: 43px;
    &::before{
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0;
    }
}
.vk{
    &::before{
        background: url('./img/vk.svg');
    }
}
.telegram{
    &::before{
        background: url('./img/telegram.svg');
    }
}
.instagram{
    &::before{
        background: url('./img/instagram.svg');
    }
}